<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions">
    <h1>My Courses</h1>

    <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">Select all</label>
        </div>

        <select class="form-control form-control-sm checkbox-select-all-options me-2 ms-2" name="action" required>
            <option value="">-- Select Action --</option>
            <option value="delete">Delete</option>
        </select>

        <button class="btn btn-primary btn-sm check-all-submit-btn disabled">Apply</button>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">No .</th>
            <th scope="col">
                Courses Name 
                {{{sortable 'name' _sort}}}
            </th>
            <th scope="col">
                Level 
                {{{sortable 'level' _sort}}}
            </th>
            <th scope="col">
                Create Time 
                {{{sortable 'createdAt' _sort}}}
            </th>
            <th scope="col">Other</th>
            </tr>
        </thead>
        
        <tbody>
            {{#each courses}}
            <tr>
                <th>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="courseIDs[]" value="{{this._id}}">
                    </div>
                </th>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-primary">
                        <i class='bx bxs-edit'></i>
                    </a>
                    <a href="" class="btn btn-danger" data-bs-toggle="modal" data-bs-whatever="{{this._id}}" data-bs-target="#delete-course-modal">
                        <i class='bx bx-trash'></i>
                    </a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" clas="text-center">
                    You have not posted any courses yet!!!
                <a href="/courses/create"></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-center" id="deleteCourseModalLabel">Delete Course?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        DO YOU WAN TO DELETE THE COURSE?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="delete-course">Delete</button>
      </div>
    </div>
  </div>
</div>


{{!-- Delete hidden form --}}
<form id="delete-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var courseID;
        var deleteForm = document.forms['delete-course-form'];
        var DeleteCourse = document.getElementById('delete-course');
        var checkboxAll = $('#checkbox-all');
        var courseItemCheckbox = $('input[name="courseIDs[]"]');
        var checkAllSubmitBtn = $('.check-all-submit-btn')

        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button= $(event.relatedTarget);
            courseID = button.data('bs-whatever');
        });

        DeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseID + '?_method=DELETE';
            deleteForm.submit();
        }

        // Checkbox all clicked
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked');
            courseItemCheckbox.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        // Course item checkbox changed
        courseItemCheckbox.change(function (){
            var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIDs[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll)
            renderCheckAllSubmitBtn();
        })

        // Re-rebder check all submit button
        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="courseIDs[]"]:checked').length;
            if (checkedCount > 0) {
                checkAllSubmitBtn.removeClass('disabled');
            } else {
                checkAllSubmitBtn.addClass('disabled');
            }
        }
    });

</script>